@use "variabels" as v;
@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  box-sizing: border-box;
  background-image: url(/assets/negative-space-black-forest-dawn11.jpg);
  color: white;
  background-repeat: no-repeat;
  margin: none;
  padding: 0;
  width: 100%;
  margin: auto;
  background-size: contain;
}

a {
  color: black;
  position: relative;
}

a:after {
  background-color: white;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
}

a:hover:after {
  width: 100%;
}

.bi-arrow-down-circle-fill {
  display: flex;
  position: relative;
  justify-content: center;
  bottom: 1200px;
}

.bi-arrow-down-circle-fill::before {
  display: block;
  margin: 0 auto;
  align-items: center;
  font-size: 75px;
  position: absolute;
  justify-content: center;
  bottom: -150px;
  margin: auto;
}

h5 {
  color: #000;
  text-align: center;
  align-items: center;
  font-size: 30px;
  display: flex;
  position: relative;
  top: 460px;
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
}

section {
  display: none;
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  width: 100%;
}

.thetext {
  display: flex;
  color: white;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  min-height: 130px;
}

p {
  font-size: 18px;
}

.mail {
  display: flex;
  position: relative;
  color: white;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  bottom: 90px;
}

div.infotext {
  width: 100%;
  display: table-header-group;
  position: relative;
}

aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

aside .nummer {
  display: flex;
  flex-direction: column;
  width: 50%;
}

i.bi-arrow-down-short {
  display: none;
}
i.bi-arrow-down::before {
  display: none;
}

.bi-arrow-down-circle {
  display: none;
}

#about {
  margin-top: 3%;
}

#downtodown {
  display: none;
}

html {
  scroll-behavior: smooth;
}

#down {
  margin-top: 24%;
  padding-bottom: 25%;
}

.infotext {
  display: flex;
  position: relative;
  top: 50px;
  justify-content: start;
  left: 30px;
}

.kontakta {
  display: flex;
  position: relative;
  bottom: 150px;
  justify-content: center;
  width: 100%;
}

#contact {
  display: flex;
  position: relative;
  right: 10px;
}

aside .bi-quote::before {
  font-size: 55px;
  display: flex;
  position: relative;
  rotate: 180deg;
  bottom: 20px;
  color: black;
  justify-content: end;
}

.iconer {
  display: flex;
  position: absolute;
  text-align: end;
  font-family: Lucida Sans, Lucida Sans Regular, Lucida Grande,
    Lucida Sans Unicode, Geneva, Verdana, sans-serif;
  top: 70px;
  align-content: stretch;
  flex-wrap: nowrap;
  align-items: flex-end;
  flex-direction: column;
  justify-content: end;
  gap: 40px;
  display: flex;
  position: absolute;
  right: 30px;
}

footer {
  display: block;
  position: relative;
  flex-direction: column;
  background-color: black;
  top: 600px;
  height: 300px;
  gap: 10px;
  width: 100%;
}

.nummer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  top: 280px;
}

h1 {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: center;
  color: #000;
  top: 240px;
}

img {
  display: flex;
  position: relative;
  justify-content: center;
  margin: auto;
  width: 250px;
  border-radius: 50%;
  top: 220px;
  box-shadow: v.$shadow;
}

h6 {
  display: flex;
  position: relative;
  flex-direction: row;
  color: black;
  margin: auto;
  justify-content: start;
  background-color: v.$bgcolor;
  height: 100px;
  width: 290px;
  align-items: center;
  font-size: 9px;
  border-radius: 10px;
  top: 230px;
}

.bi-arrow-up-circle-fill {
  position: relative;
  display: block;
  top: 200px;
}

@media screen and (max-width: 600px) {
  body {
    box-sizing: border-box;
    background-image: url(/assets/negative-space-black-forest-dawn11.jpg);
    color: white;
    background-repeat: no-repeat;
    margin: none;
    padding: 0;
    width: 100%;
    width: auto;
    background-size: cover;
  }

  .bi-arrow-down-circle-fill::before {
    font-size: 60px;
    height: 60px;
    width: 60px;
    display: none;
    position: absolute;
    bottom: 1300;
  }

  .bi-arrow-down-circle-fill {
    margin: auto;
  }

  aside .bi-quote:before {
    color: #000;
    justify-content: end;
    font-size: 55px;
    display: flex;
    position: relative;
    bottom: 75px;
    rotate: 180deg;
  }

  .bi-arrow-up-circle-fill {
    display: none;
  }

  p {
    display: flex;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  aside {
    display: flex;
    position: relative;
    flex-direction: column;
    bottom: 400px;
  }

  .nummer {
    display: grid;
    position: relative;
    margin: auto;
    flex-direction: column;
  }

  div i.bi-arrow-down-short {
    display: flex;
    position: relative;
    background-color: black;
    top: 1950px;
    font-size: 65px;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
  }

  nav {
    display: none;
  }

  .top-nav {
    display: none;
    position: relative;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: flex;
  }

  #down {
    display: flex;
    position: relative;
    margin-top: 30%;
    width: 1%;
  }

  h5 {
    color: #000;
    text-align: center;
    align-items: center;
    font-size: 30px;
    display: flex;
    position: relative;
    top: 110px;
    display: flex;
    position: relative;
    justify-content: center;
    margin: auto;
  }

  .bi-quote {
    display: flex;
    position: relative;
    left: 300px;
    top: 50px;
    left: auto;
  }

  .thetext {
    font-size: 22px;
    top: 60px;
    display: flex;
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: bold;
  }

  .bi.bi-instagram {
    display: flex;
    flex-direction: row;
    position: relative;
    color: white;
    margin: auto;
    align-items: center;
  }

  .bi.bi-twitter {
    color: white;
    align-items: center;
    display: inline;
    position: relative;
  }

  .bi.bi-facebook {
    color: white;
    align-items: center;
    display: inline;
    position: relative;
    align-items: center;
  }

  #contact {
    display: flex;
    position: relative;
    right: 10px;
    transform: translateY(40px);
  }

  .adress {
    width: 100%;
    display: flex;
    position: relative;
    top: 10px;
  }

  .mail {
    display: flex;
    position: relative;
    top: 10px;
    width: 100%;
  }

  .infotext {
    display: contents;
    position: relative;
    width: 100%;
  }

  .kontakta {
    display: flex;
    position: relative;
    top: 1px;
    width: 100%;
  }

  div.infotext {
    width: 100%;
    display: contents;
    position: relative;
  }

  .iconer {
    width: 100%;
    align-items: center;
    display: flex;
    position: initial;
  }

  footer {
    display: flex;
    position: relative;
    background-color: black;
    flex-direction: column;
    height: 600px;
    width: 100%;
    top: 320px;
  }

  h2 {
    vertical-align: center;
    text-align: center;
  }

  html,
  body {
    margin: 0;
    height: 100%;
  }

  * {
    font-family: "Raleway";
    box-sizing: border-box;
  }

  .top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  h1 {
    display: flex;
    position: relative;
  }

  .min {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .menu > li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: "";
    margin-top: -8px;
  }

  .menu-button::after {
    content: "";
    margin-top: 8px;
  }

  #menu-toggle:checked + .menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked + .menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked + .menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    height: 1.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
  }
}
